{
  "AWSEBDockerrunVersion": 2,
  "containerDefinitions": [
    {
      "name": "nodejs_eb",
      "image": "joshdvir/node_test:<TAG>",
      "essential": true,
      "environment": [
        {
          "name": "NODE_ENV",
          "value": "production"
        }
      ],
      "memory": 500,
      "portMappings": [
        {
          "hostPort": 80,
          "containerPort": 3000
        }
      ]
    }
  ]
}