
files:
  /home/ec2-user/.ssh/authorized_keys:
    mode: "000400"
    owner: ec2-user
    group: ec2-user
    content: |
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDIvi95xwE69lF2pNlGwBgHtoPUAinDlXm1gsWre2Hij6e3LkAcM96DQss05B/19QiOotcKccAUkC/y9MjylmF/2llBizi4DkF1uKTdzmDrC+eR8P+VSOlZtQm9n9UPrnRQqC8YWSCHSRtjCED7ANfPg2TGOD1kBwkJT23OCI3HMqNG7vy5aXj96hcIqNwQTNjd9VCwDy9xiXnVfZhqN/sh7o6VVrgqT724GCbgySytrNdp1zFKcm94193ZrVpOyE6kyHll3ZRgOJeIPhyW/FqgfqQHWw25fNfLbxRNilYzONioiPNvDq20+jlXI98qdJFbIjSPOB00ZJgGaM1/vXrSiPWhPetZIKsCuaYSJw9lxQCkIZAYSFf17HXR0CENkVu+qwy9NowooxfVSueYWkZGps6wS+G/TG+/5p6h6xsTy63o2sYT2hNOjwYGj7HGbs06E9Ej7+G5ekK4XTUTGMZdupwfAGhYUBPuOPAAi29czWZ4zK97SY6i2814e0MTobuOn5RPzRRQnHVKYKxhv7+/ra9Gavp7v4u0xXZI6FhsPlDNrlYaJ3PbmW8bwhi4QVfgiQDFS2vFhQlTkZ5lPpsWAFigd6BGI70Z8qovCKRQTdD44A9zqhE0ES/uSiYTVYo5EfiEPxvhzcXoSyr+Q5bvEo0w6Fqjb5j6tCX618A52w== shuky@devops.co.il
